extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		.row.justify-content-center.align-items-center.p-5
			.col-sm-3 
				img(src=post._.image.fit(250,150)).img-fluid
			.col-sm-5.text-left.pt-3
				h5
					a(href='/article/post/' + post.slug, class="rm-under text-hover title-color title-size")=post.title
				.text-color.text-size!= post.content.brief
				p: a(href='/article/post/' + post.slug, class="rm-under text-size text-color") Read more...
				if post.categories && post.categories.length
					each cat, i in post.categories
						a(href='/article/' + cat.key class="text-size text-color rm-under")= cat.name
						if i < post.categories.length - 1
							| 
			.col-sm-2.list-date.text-left.hidden-sm
					p.page-title #{post._.publishedDate.format('MM-DD')} 
					i.fa.fa-angle-right.angle
		hr
	
block content
	.mt-5.mb-4.text-center
		h4.page-title.pt-2 资讯中心
		h5.page-sbtitle News
		.d-flex.pt-4
			ul.list-inline.mx-auto.justify-content-center
				li.list-inline-item.mb-4
					a(href="/article" class=!data.category ? 'active' : false).tag.rm-under.mr-1 全部
				if data.categories.length
					each cat in data.categories
						li.list-inline-item.mb-4
						a(href='/article/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).tag.rm-under.mr-1= cat.name
		hr
		
		each post in data.posts.results
			+post(post)
		
		if data.posts.totalPages > 1
			ul.pagination.offset-2
				if data.posts.previous
					li: a(href='?page=' + data.posts.previous): i.fa.fa-angle-left
				else
					li.disabled: a(href='?page=' + 1): i.fa.fa-angle-left
				each p, i in data.posts.pages
					li(class=data.posts.currentPage == p ? 'active' : null)
						a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
				if data.posts.next
					li: a(href='?page=' + data.posts.next): i.fa.fa-angle-right
				else
					li.disabled: a(href='?page=' + data.posts.totalPages): i.fa.fa-angle-right

